{% load static %}
{% load tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'wedding/details.css' %}">
<div class="card" style="width: 24rem; background-color: pink; position: relative; left: 40%; right: 60%;" >
    <div class="card-body">
      <div class="right">
        <a href={{update_url}} class="btn btn-dark">Edytuj</a>
    </div>
      <h3 class="card-title">Szczegóły {{name}}</h3>
      <p class="card-text">
        <div>
            {% for key,value in object_list %}
            <p style="font-weight: bold;">{{key}}</p>
            <p>{{value}}</p>
            {% endfor %}
            </div>
        </p>
    </div>
  </div>

{% endblock %} 