{% extends 'index.html' %}
{% block content %}

<div class="card" style="width: 24rem; background-color: pink; position: relative; left: 40%; right: 60%;" >
    <div class="card-body">
      <h5 class="card-title">Dodaj Gościa</h5>
                {% csrf_token %}               
                {{form.first_name.label}}
                {{form.first_name}}
                {{form.last_name.label}}
                {{form.last_name}}
                {{form.age.label}}
                {{form.age}}
                {{form.diet_type.label}}
                {{form.diet_type}}
                {{form.phone_number.label}}
                {{form.phone_number}}
                {{form.email_address.label}}
                {{form.email_address}}
                {{form.accomodation.label}}
                {{form.accomodation}}                         
                {{form.invited.label}}
                {{form.invited}}   
                {{form.attendance.label}}
                {{form.attendance}} 
                <br>           
                <button type="submit" class="btn btn-dark">Dodaj</button>
            </form>
            </div>
        </p>
    </div>
  </div>

{% endblock %} 