{% extends 'index.html' %}
{% block content %}

<div class="card" style="width: 24rem; background-color: pink; position: relative; left: 40%; right: 60%;" >
    <div class="card-body">
      <h5 class="card-title">Add Invitations</h5>
      <p class="card-text">
        <div class = "form-group">
            <form action="{% url 'invitations-add' %}" method="post">
                {% csrf_token %}
                {{form.quantity.label}}
                {{form.quantity}}
                {{form.name.label}}
                {{form.name}}
                {{form.phone_number.label}}
                {{form.phone_number}}
                {{form.price.label}}
                {{form.price}}
                {{form.address.label}}
                {{form.address}}
                {{form.caution.label}}
                {{form.caution}}             
                {{form.notes.label}}
                {{form.notes}}  
                <br>           
                <button type="submit" class="btn btn-dark">Add</button>
            </form>
            </div>
        </p>
    </div>
  </div>

{% endblock %} 