{% extends 'index.html' %}
{% load static %}
{% block title %} Logowanie {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'wedding/register.css' %}">
    {% if request.user.is_authenticated %}
        <p>Witaj {{request.user.username}}</p>
    {% else %}
    <div class="container register-form">
    <div class="form">
        <div class="note">
            <p>Podaj nazwe użytkownika i hasło aby sie zalogować.</p>
        </div>
            <div class="form-content">
                <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                    {{form.as_p}}
                    <button type="submit" class="btnSubmit">Zaloguj się</button>
                </div>
            </div>
                </form>
                <div>
                    <p class="mb-0"> Nie masz konta? <a href={% url 'register' %} class="text-pink-50 fw-bold">Zarejestruj się</a></p>
                  </div>
            </div>
    </div>
    {% endif %}

{% endblock %}