{% load static %}
{% load tags %}
<link rel="stylesheet" type="text/css" href="{% static 'wedding/table.css' %}">
<script src={% static 'wedding/table.js' %}></script>
<input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Przeszukaj ">
<table class="table table-bordered" id="myTable">
    <thead>
        <tr class="table-danger">
            <th scope="col" onclick="sortTableById()">#</th>
            {% for column in column_labels %}
                <th scope="col", onclick="sortTable({{forloop.counter|add:-1}})">{{column}}</th>
            {% endfor %}
            <th scope="col"> Wyświetl szczegóły</th>
            </tr>
    <tbody>
    {% for item in items %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        {% for column in columns %}
        <td>{% get_attribute_for_object item column%}</td>
        {% endfor %}
        <td><a href={{ item.get_absolute_url }} class="btn btn-dark">Szczegóły</a></td>
      </tr>
    
    {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="btn btn-dark" style="position: absolute; right: 50%;"><a href={{ add_url }} class="btn btn-dark">Dodaj kolejną opcję</a></button>