{% extends 'index.html' %}
{% block content %}

<div class="card" style="width: 24rem; background-color: pink; position: relative; left: 40%; right: 60%;" >
    <div class="card-body">
      <h5 class="card-title">Dodaj Salę Weselną</h5>
                {% csrf_token %}
                {{form.accomodation.label}}
                {{form.accomodation}}
                {{form.name.label}}
                {{form.name}}
                {{form.phone_number.label}}
                {{form.phone_number}}
                {{form.email_address.label}}
                {{form.email_address}}
                {{form.price.label}}
                {{form.price}}
                {{form.address.label}}
                {{form.address}}
                {{form.caution.label}}
                {{form.caution}}             
                {{form.notes.label}}
                {{form.notes}}  
                <br>           
                <button type="submit" class="btn btn-dark">Dodaj</button>
            </form>
            </div>
        </p>
    </div>
  </div>

{% endblock %} 